@charset "utf-8";

/* CSS Document*/
body {
    background-color: #171a21;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family: 'Roboto', Verdana, Arial, sans-serif;
}

/* STORE */
.container-store {
    display: flex;
    justify-content: left;
    margin: 10px;
}

.container-store h1 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    float: left;
    cursor: default;
}

/* STORE */

/* SEARCH ENGINE */
.box-input {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#searchInput {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    padding: 13px;
    margin-top: 3px;
    font-size: 17px;
    font-weight: bold;
    border: none;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#suggestions {
    z-index: 999;
    position: absolute;
    list-style: none;
    margin-top: 50px;
    padding: 0;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    background-color: #2e2f31;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 100%;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    gap: 5px;
    width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-price {
    font-size: 11px;
    font-weight: normal;
    color: white;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.suggestion-image {
    width: 55px;
    height: auto;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* SEARCH ENGINE */

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: left;
    gap: 7px;
    margin: 10px;
}

.categories p {
    background-color: #3a3d3e;
    width: max-content;
    padding: 7px 10px;
    border-radius: 15px;
    font-size: 13px;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.categories a {
    text-decoration: none;
    color: white;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.categories-active {
    background-color: goldenrod;
}

#oldest {
    display: none;
}

#best-sellers {
    display: none;
}

#view-all {
    display: none;
}

.active a {
    color: goldenrod;
}

/* CATEGORIES */

/* CONTAINER TSHIRT */
.container-tshirt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
    margin: 10px;
    margin-bottom: 180px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.container-tshirt a {
    color: black;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* card tshirt */
.card-tshirt {
    background-color: white;
    padding-bottom: 85px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.card-tshirt img {
    width: 100%;
    height: auto;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.description h1 {
    position: absolute;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: normal;
    margin: 5px;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.size {
    font-size: 11px;
    position: absolute;
    margin: 5px;
    margin-top: 25px;
    color: white;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.size span {
    background-color: #b3b3b3;
    padding: 0 3px;
    border-radius: 5px;
}

.price {
    font-size: 17px;
    font-weight: bolder;
    color: black;
    position: absolute;
    margin: 5px;
    margin-top: 60px;
    cursor: pointer;

    /* EFEK BUG WARNA BIRU */
    outline: none;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.description p {
    font-size: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 2px;
    padding: 1px 4px;
    margin: 5px;
    margin-top: 42px;
    position: absolute;
    gap: 20px;
}

/* card tshirt */

/* CONTAINER TSHIRT */

/* MENU */
/* Gaya Navigasi Bawah */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(31, 31, 33, 0.473), rgb(31, 31, 33));
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.bottom-nav a {
    text-decoration: none;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #b3b3b3;
    font-size: 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 7px;
}

.active {
    color: white;
    filter: brightness(100%);
}

.nav-icon {
    width: 25px;
    height: 25px;
    margin-bottom: -5px;
    filter: brightness(50%);
}

/* Efek Aktif */
.nav-item.active {
    filter: brightness(3);
}

/* Menghilangkan efek highlight biru pada mobile browser */
* {
    -webkit-tap-highlight-color: transparent;
}

/* MENU */



@media screen and (min-width: 1280px) {}

@media screen and (min-width: 720px) {
    .description h1 {
        width: max-content;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media screen and (width: 800px) {}

@media screen and (max-width: 810px) {}



/* MOBILE DEVICES */
@media (min-width: 320px) and (max-width: 375px) {}

@media screen and (width: 360px) {
    .description h1 {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media screen and (width: 320px) {
    .description h1 {
        width: 120px;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media screen and (width: 375px) {
    .description h1 {
        width: 140px;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media screen and (width: 390px) {
    .description h1 {
        width: 150px;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

/* MOBILE DEVICES */
@media (min-width: 376px) and (max-width: 480px) {}

/* TABLET */
@media (min-width: 481px) and (max-width: 1025px) {}

/* DESKTOP SITE (MOBILE DEVICES) */
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .description h1 {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

/* LAPTOP */
@media (min-width: 769px) and (max-width: 1024px) {}

/* DESKTOP */
@media (min-width: 1025px) {}

/* DESKTOP 1920px */
@media (min-width: 1920px) {}

@media only screen and (max-width: 926px) and (orientation: landscape) {
    .description h1 {
        width: 200px;
        white-space: nowrap;
        overflow: hidden;

        /* EFEK BUG WARNA BIRU */
        outline: none;
        -webkit-tap-highlight-color: transparent;
        user-select: none;
        touch-action: manipulation;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {}